
//contact section

.contact {
  background-color: $color-three;
  padding-bottom: 100px;

  h2 {
    padding: 50px 0;
        text-shadow: 2px 2px 2px black;
  }

  p {
    width: 50%;
    margin: 0 auto;
  }
}


input,
textarea {
  
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 20px;
}


.form-container {
    width: 60%;
  font-size: 1rem;
  display: block;

    margin: 0 auto;

}


form input:focus,
form textarea:focus {
  border: 3px solid $color-one;
}

