// Skills Section

.skill {
  background-color: $color-three;
  padding-bottom: 50px;

  h2 {
    padding: 80px 0 40px 0;
        text-shadow: 2px 2px 2px black;
  }
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
}

.skill-name {
  list-style: none;
  color: $color-one;
  text-align: center;
  margin: 10px auto;
  padding: 20px;
  flex-basis: 20%;

  i {
    font-size: 2rem;
    color: black;
  }

  p {
    color: black;
    font-weight: 900;
    font-size: 1rem;
  }
}

.skill-name i:hover,
.skill-name i:focus {
  color: $color-two;
  transition: 0.4s ease;
}