



p {
  padding: 20px 0;
  line-height: 1.5;
  letter-spacing: 1px;
  font-family: $body-font;

}

h1 {
  font-family: $header-font1;
  margin-top: 40vh;
  font-size: 4.5rem;
  // width: 50%;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.4);
  color: #fdd908;
  text-align: center;
}



h2 {
  font-family: $header-font2;
  color: $color-two;
  font-weight: 100;
  font-size: 2rem;
  text-align: center;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.4);
}