$color-one: #537a5a;
$color-two: #9ae19d;
$color-three: #909590;
$color-four: #474a48;
$color-five: #2c302e;

$header-font1: "Lato", sans-serif;
$header-font2: "Otomanopee One", sans-serif;
$body-font: "Montserrat", sans-serif;
